<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <% if true %>
      <h3>Followings (<%= @following_users.count %>)</h3>
      <ul class="user-list">
        <%= render @following_users %>
      </ul>
    <% end %>
  </div>
</div>