@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

@media (min-width: 1400px){
  .container {
      width: 1360px;
  }
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section.user_data {
    margin:-10px 25px 0 0;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
    .user-status {
      list-style: none;
      padding: 0;
      li {
        margin:5px;
        border-bottom: 1px solid #e8e8e8;
        line-height: 1.2em;
      }
      .place{
        padding-bottom: 0.75em;
      }
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* followings and followers */
.ff-container{
  margin:auto;
  h3 {
    width:320px;
  }
}
.ff-user{
  width:320px;
  float:left;
}
@media (min-width: 640px){
  .ff-ffusers{
    margin-left:320px;
  }
}

/* user-list */
.user-list {
  list-style: none;
  padding: 0;
  li {
    margin:5px;
    padding: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    display:inline-block;
    width:320px;
    height:260px;
  }
  .gravatar {
    width:80px;
    height:80px;
  }
  .ff_follow_form{
    width:100px;
    margin:48px 0 0 85px;
    display:inline-block;
  }
  .name{
    font-size:26px;
    margin: 2px 0;
    clear:both;
    width:100%;

    //テキスト省略
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .id{
    font-size:14px;
    margin: 1px 0 2px;
  }
  .profile{
    font-size:16px;
    margin:5px 0;
    height:90px;
    width:100%;

    //テキスト省略
    display: -webkit-box;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }
}

/* follow-status */

.follow-status {
  list-style: none;
  padding: 0;
  li {
    padding: 4px 0;
  }
}
